*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 500px;
}
input{
    margin: 10px;
  border: none;
}
.msg{
    text-align: center;
    border: 2px solid lightsalmon;
}
.none {
    display: none;
}
.error {
    border-bottom: 2px solid red;
}