*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addPost{
    padding: 10px;
    width: 500px;
}
input, textarea{
    margin-bottom: 10px;
}